@media screen and (min-width: 769px) {
  .header__phone {
    animation: call 3s ease infinite;
    margin-right: 1.5rem;
    order: 2;
  }
  .header__phone-link {
    display: none;
  }
  .header__menu {
    order: 1;
  }
  .header__menu-button {
    display: none;
  }
  .header__menu-items {
    background-color: transparent;
    display: block;
    max-width: initial;
    min-height: initial;
    overflow: initial;
    position: relative;
    right: initial;
    top: initial;
    width: initial;
  }
  .header__menu-item {
    background-color: initial;
    border-bottom: 0;
    display: inline-block;
    position: relative;

    &.active {
      background-color: initial;
    }

    &:hover {
      &:after {
        transform: rotateX(-180deg);
      }

      & > .dropdown__menu {
        display: block;
      }
    }
  }
  .header__menu-link {
    line-height: initial;
    padding: 1rem;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;

    &.dropdown {
      &:after {
        right: 0;
      }
    }

    &.current {
      color: var(--color-red);

      &:hover {
        color: var(--color-red-10);
      }
    }

    &:hover {
      color: var(--color-yellow);
    }
  }
  .dropdown__menu,
  .dropdown__submenu {
    border-radius: 0.5rem;
    position: absolute;
  }
  .dropdown__menu {
    padding-top: 0.75rem;
    left: 0;
    top: 100%;
  }
  .dropdown__submenu {
    padding-left: 2rem;
    bottom: 0;
    left: 100%;
  }
  .dropdown__menu-items,
  .dropdown__submenu-items {
    position: relative;
    max-width: 320px;
  }
  .dropdown__menu-items {
    &:before {
      border-bottom: 0.875rem solid var(--color-dark-40);
      border-left: 0.875rem solid transparent;
      border-right: 0.875rem solid transparent;
      content: "";
      position: absolute;
      left: 3rem;
      top: -0.875rem;
    }
  }
  .dropdown__menu-item {
    &:last-child {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    &:hover {
      background-color: var(--color-dark-10);

      &:after {
        transform: rotateY(-180deg);
      }

      & > .dropdown__submenu {
        display: block;
      }
    }
  }
  .dropdown__menu-link {
    &.dropdown {
      pointer-events: none;

      &:after {
        border-left: 0.375rem solid var(--color-yellow);
        border-bottom: 0.25rem solid transparent;
        border-top: transparent 0.25rem solid;
      }

      &.active {
        &:after {
          transform: rotateY(-180deg);
        }
      }
    }
  }
  .dropdown__submenu-items {
    :before {
      border-right: 0.875rem solid var(--color-dark-40);
      border-top: 0.875rem solid transparent;
      border-bottom: 0.875rem solid transparent;
      content: "";
      position: absolute;
      bottom: 1rem;
      left: -0.875rem;
    }
  }
  .dropdown__submenu-item {
    &:first-child {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }

    &:last-child {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    &:hover {
      background-color: var(--color-dark-10);
    }
  }
  .header__menu-item:not(:last-child),
  .dropdown__menu-item:not(:last-child),
  .dropdown__submenu-item:not(:last-child) {
    border-bottom: none;
  }
}

@media screen and (min-width: 900px) {
  .header__phone {
    animation: none;
    margin-left: 0;
  }
  .header__phone-link {
    display: block;
  }
}


@media screen and (min-width: 1100px) {
  .header__menu-link {
    margin-right: 1rem;
  }
}
