@media screen and (min-width: 376px) {
  .header__phone {
    animation: none;
    margin-left: 0;
  }
  .header__phone-link {
    color: var(--color-white);
    text-decoration: none;

    &:hover {
      color: var(--color-yellow);
    }
  }
  .header__phone-text {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3334;
  }
}
