.header {
  background-color: var(--color-dark-10);
  box-shadow: 0 0.3125rem 0.3125rem rgba(19, 20, 23, 0.4);
  position: relative;
  z-index: 1;

  &__container {
    /* Header Container */

    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 5rem;
  }

  &__logo {
    /* Header Logo */

    margin-left: 1.25rem;
    order: 0;

    &-svg {
      /* Header Logo svg */
      height: 2.875rem;
      width: 2.875rem;
    }
  }

  &__phone {
    /* Header Phone */

    border-radius: 100%;
    margin-left: auto;
    margin-right: 0.666rem;
    order: 1;

    &-link {
      /* Header Phone link */

      align-items: center;
      display: flex;
    }

    &-svg {
      /* Header Phone svg */

      margin: 0.688rem;
      height: 1.125rem;
      width: 1.125rem;
    }

    &-text {
      /* Header Phone text */

      display: none;
    }
  }

  &__menu {
    /* Header Menu */

    align-items: center;
    display: flex;
    order: 2;
    margin-right: 0.666rem;

    &-burger {
      /* Header Menu burger */

      cursor: pointer;
      margin: 0.566rem;
      position: relative;
      height: 1.375rem;
      width: 1.375rem;

      &__line {
        /* Header Menu burger line */

        background-color: var(--color-yellow);
        display: block;
        opacity: 1;
        position: absolute;
        left: 0;
        transition: all .3s ease;
        height: 0.125rem;
        width: 100%;

        &:nth-of-type(1) {
          /* Header Menu burger line :nth-of-type(1) */

          top: 0.25rem;
        }

        &:nth-of-type(2) {
          /* Header Menu burger line :nth-of-type(2) */

          top: 0.625rem;
        }

        &:nth-of-type(3) {
          /* Header Menu burger line :nth-of-type(3) */

          top: 1rem;
        }
      }

      &.active {
        /* Header Menu burger .active */

        & > .header__menu-burger__line {
          /* Header Menu burger .active > .header__menu-burger__line */

          &:nth-of-type(1),
          &:nth-of-type(3) {
            /* Header Menu burger .active > .header__menu-burger__line */
            /* Header Menu burger .active > .header__menu-burger__line */

            top: 0.625rem;
            background-color: var(--color-red);
          }

          &:nth-of-type(1) {
            /* Header Menu burger .active > .header__menu-burger__line :nth-of-type(1) */

            transform: rotate(45deg);
          }

          &:nth-of-type(2) {
            /* Header Menu burger .active > .header__menu-burger__line :nth-of-type(2) */

            opacity: 0;
          }

          &:nth-of-type(3) {
            /* Header Menu burger .active > .header__menu-burger__line :nth-of-type(3) */

            transform: rotate(-45deg);
          }
        }
      }
    }

    &-items {
      /* Header Menu items */

      background-color: var(--color-dark-10);
      box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
      display: none;
      max-width: 375px;
      min-height: 100vh;
      overflow: auto;
      position: absolute;
      right: 0;
      top: 100%;
      width: 100%;

      &.active {
        /* Header Menu items .active */

        animation: navLinkFade 0.2s ease forwards 0.1s;
        display: block;
        opacity: 0;
      }
    }

    &-item,
    &-dropdown__item {
      /* Header Menu item */
      /* Header Menu dropdown item */

      background-color: var(--color-dark-40);

      &.active {
        /* Header Menu item .active */
        /* Header Menu dropdown item .active */

        background-color: var(--color-dark-10);
      }

      &:not(:last-child) {
        /* Header Menu item :not(:last-child) */
        /* Header Menu dropdown item :not(:last-child) */

        border-bottom: 1px solid var(--color-dark-10);
      }
    }

    &-link,
    &-dropdown__link {
      /* Header Menu link */
      /* Header Menu dropdown link */

      color: var(--color-white);
      cursor: pointer;
      display: block;
      padding: 1rem 1.2rem;
      position: relative;
      text-decoration: none;

      &.dropdown {
        /* Header Menu link .dropdown */
        /* Header Menu dropdown link .dropdown */

        align-items: center;
        display: flex;

        & > .triangle {
          /* Header Menu link .dropdown > .triangle */
          /* Header Menu dropdown link .dropdown > .triangle */

          border-left: 0.25rem solid transparent;
          border-right: 0.25rem solid transparent;
          border-top: 0.375rem solid var(--color-yellow);
          margin-left: 0.5rem;
          margin-top: 0.25rem;
        }

        &.active {
          /* Header Menu link .dropdown .active */
          /* Header Menu dropdown link .dropdown .active */

          & > .triangle {
            /* Header Menu link .dropdown .active > .triangle */
            /* Header Menu dropdown link .dropdown .active > .triangle */

            transform: rotateX(-180deg);
            transition: transform .3s ease-in-out;
          }
        }
      }
    }

    &-text,
    &-dropdown__text {
      /* Header Menu text */
      /* Header Menu dropdown text */

      line-height: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-link {
      /* Header Menu link */

      font-size: 1.125rem;
    }

    &-dropdown {
      /* Header Menu dropdown */

      display: none;

      &.active {
        /* Header Menu dropdown .active */

        display: block;
      }

      &__link {
        /* Header Menu dropdown link */

        font-size: 1rem;
      }
    }

  }
}
