@media screen and (min-width: 769px) {
  .header {

    &__phone {
      /* Header Phone */

      margin-right: 1.5rem;
      order: 2;

      &-link {
        /* Header Phone link */

        cursor: pointer;
      }

      &-text {
        /* Header Phone text */

        display: none;
        font-weight: 500;
      }
    }

    &__menu {
      /* Header Menu */

      order: 1;
      margin-right: 0;

      &-burger {
        /* Header Menu burger */

        display: none;
      }

      &-items {
        /* Header Menu items */

        background-color: transparent;
        display: block;
        max-width: initial;
        min-height: initial;
        overflow: initial;
        position: relative;
        right: initial;
        top: initial;
        width: initial;
      }

      &-item {
        /* Header Menu item */

        background-color: initial;
        display: inline-block;
        position: relative;

        &:not(:last-child) {
          /* Header Menu item :not(:last-child) */

          border-bottom: 0;
        }

        &:hover {
          /* Header Menu item :hover */

          & > .header__menu-dropdown {
            /* Header Menu item :hover > .header__menu-dropdown */

            display: block;
          }

          & > .header__menu-link {
            /* Header Menu item :hover > .header__menu-link */

            color: var(--color-yellow);

            &:after {
              /* Header Menu item :hover > .header__menu-link :after */

              transition: all ease-in-out 0.3s;
              transform: rotateX(-180deg);
            }
          }
        }

        &.active {
          /* Header Menu item .active */

          background-color: initial;

          & > .header__menu-link {
            /* Header Menu item .active > .header__menu-link */

            color: var(--color-yellow);
          }
        }

      }

      &-link {
        /* Header Menu link */

        line-height: 1.333333333333333rem;
        overflow: initial;
        padding: 0.5786rem 1rem;
        text-overflow: initial;
        transition: all ease-in-out 0.3s;
        white-space: initial;

        &.dropdown {
          /* Header Menu link dropdown */

          padding-right: 2rem;

          &:after {
            /* Header Menu link dropdown :after */

            right: 1rem;
          }
        }

        &.current {
          /* Header Menu link current */

          color: var(--color-red);

          &:hover {
            /* Header Menu link current :hover */

            color: var(--color-red-10);
          }
        }
      }

      &-dropdown {
        /* Header Menu dropdown */

        padding-top: 1.25rem;
        position: absolute;
        left: 0;
        top: 100%;

        &__items {
          /* Header Menu dropdown items */

          position: relative;
          max-width: 320px;

          &:before {
            /* Header Menu dropdown items :before */

            border-bottom: 0.875rem solid var(--color-dark-40);
            border-left: 0.875rem solid transparent;
            border-right: 0.875rem solid transparent;
            content: "";
            position: absolute;
            left: 3rem;
            top: -0.875rem;
          }
        }

        &__item {
          /* Header Menu dropdown item */

          cursor: pointer;
          transition: all ease-in-out 0.3s;

          &:last-child {
            /* Header Menu dropdown item :last-child */

            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }

          &:not(:last-child) {
            /* Header Menu dropdown item :not(:last-child) */

            border-bottom: 1px solid var(--color-dark-60);
          }

          &.active,
          &:hover {
            /* Header Menu dropdown item :hover */

            background-color: var(--color-dark-10);

            & > .header__menu-dropdown__link {
              /* Header Menu dropdown item :hover & > .header__menu-dropdown__link */

              &:after {
                /* Header Menu dropdown item :hover & > .header__menu-dropdown__link :after */

                transform: rotateY(-180deg);
                transition: all ease-in-out 0.3s;
              }
            }

            & > .header__menu-dropdown {
              /* Header Menu dropdown item :hover & > .header__menu-dropdown */

              display: block;
              padding-left: 1.5rem;
              padding-top: initial;
              bottom: 0;
              left: 100%;
              top: initial;
            }
          }

          & .header__menu-dropdown__items {
            /* Header Menu dropdown item .header__menu-dropdown__items */

            &:before {
              /* Header Menu dropdown item .header__menu-dropdown__items :before */

              border-bottom: 0.875rem solid transparent;
              border-left: none;
              border-right: 0.875rem solid var(--color-dark-40);
              border-top: 0.875rem solid transparent;
              bottom: 0.25rem;
              left: -0.75rem;
              top: initial;
            }
          }

          & .header__menu-dropdown__item {
            /* Header Menu dropdown item .header__menu-dropdown__item */

            &:first-child {
              /* Header Menu dropdown item .header__menu-dropdown__item :first-child */

              border-top-left-radius: 0.5rem;
              border-top-right-radius: 0.5rem;
            }
          }

        }

        &__link {
          /* Header Menu dropdown link */

          padding: 0.25rem 1.2rem;

          &.dropdown {
            /* Header Menu dropdown link .dropdown */

            &:after {
              /* Header Menu dropdown link .dropdown :after */

              border-left: 0.375rem solid var(--color-yellow);
              border-bottom: 0.25rem solid transparent;
              border-top: transparent 0.25rem solid;
              right: 0.5rem;
            }

            &.active {
              /* Header Menu dropdown link .dropdown .active */

              &:after {
                /* Header Menu dropdown link .dropdown .active :after */

                transform: rotateY(-180deg);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .header {

    &__phone {
      /* Header Phone */

      margin-left: 0;

      &-text {
        /* Header Phone text */

        display: block;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .header {
    &__logo {
      /* Header Logo */

      margin-left: 1.5rem;
    }

    &__container {
      /* Header Container */

      margin: 0 6rem;
    }

    &__phone {
      /* Header Phone */

      margin-right: 2rem;
    }

    &__menu {
      /* Header Menu */

      margin-left: 3.5rem;

      &-item {
        /* Header Menu item */

        &:not(:last-child) {
          /* Header Menu item &:not(:last-child) */

          & > .header__menu-link {
            /* Header Menu item &:not(:last-child) > .header__menu-link */

            margin-right: 0.25rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .header {

    &__container {
      /* Header Container */

      margin: 0 auto;
      max-width: 1440px;
    }

    &__menu {
      /* Header Menu */

      &-item {
        /* Header Menu item */

        &:not(:last-child) {
          /* Header Menu item &:not(:last-child) */

          & > .header__menu-link {
            /* Header Menu item &:not(:last-child) > .header__menu-link */

            margin-right: 2.22222222rem;
          }
        }
      }
    }
  }
}
